@use "utils" as *;

.hero-intro {
  background: var(--color-main);

  .subtitle {
    opacity: 0.8;
    margin-top: 0.5em;
    max-width: min-max(1000, 1200);
  }

  .divider {
    margin-top: min-max(14, 28);
  }
}
