@use "utils" as *;

html,
body {
  max-width: 100%;
  // overflow-x: hidden;
  // @include no-scrollbar;
}

// Sections
section {
  display: flex;
  justify-content: center;
  color: var(--main-color);
}

// Section inner container
// .container {
//   position: relative;
//   width: 100%;
//   max-width: var(--max-width);
//   padding-inline: min-max(24, 36);
//   @include grid(24, min-max(16, 24));

//   @include mq-max-768 {
//     @include flex(column);
//     padding-inline: 16px;
//   }
// }
