@use "utils" as *;

.footer {
  display: flex;
  justify-content: center;
  background: var(--color-main);
  color: var(--color-white);
  font-family: var(--font-mont);

  .container {
    padding-block: min-max(40, 100) min-max(24, 60);
  }

  .grid {
    --cols: 4;
    gap: min-max(24, 72);
  }

  .pages {
    grid-column: span 2;
    display: flex;
    gap: min-max(24, 72);
    list-style-type: none;

    * {
      list-style: none;
    }

    > li {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: min-max(16, 24);
    }

    .sub-menu {
      display: flex;
      flex-direction: column;
      gap: min-max(8, 16);

      a {
        color: rgba(255, 255, 255, 0.72);

        &[aria-current] {
          color: var(--color-accent);
          pointer-events: none;
        }

        @include on-hover {
          color: var(--color-accent);
        }
      }
    }

    .menu-item-has-children {
      > a {
        font-size: min-max(16, 20);
        font-family: var(--font-mont);
        font-weight: 700;
        pointer-events: none;
      }
    }
  }

  .brand {
    gap: min-max(16, 24);

    .logo {
      width: min-max(90, 150);
      display: flex;
    }

    &-description {
      opacity: 0.8;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: min-max(16, 24);

    &-title {
      font-size: min-max(16, 20);
      font-family: var(--font-mont);
      font-weight: 700;
      pointer-events: none;
    }

    .list {
      gap: min-max(8, 16);

      .row {
        display: flex;
        align-items: center;
        gap: min-max(8, 10);
      }

      .data {
        display: flex;
        flex-direction: column;
        gap: min-max(2, 4);
        color: rgba(255, 255, 255, 0.72);
        line-height: 125%;
      }

      .icon {
        display: flex;
        flex: none;
        width: min-max(24, 24);
        aspect-ratio: 1;
        background: var(--color-accent);
        mask-size: cover;
        mask-position: center;
        mask-repeat: no-repeat;

        &.location {
          mask-image: url("../img/location.svg");
        }
        &.phone {
          mask-image: url("../img/phone.svg");
        }
        &.email {
          mask-image: url("../img/mail.svg");
        }
      }

      a {
        @include on-hover {
          color: var(--color-accent);
        }
      }
    }
  }

  .сopyright {
    display: flex;
    font-size: min-max(11, 14);
    opacity: 0.8;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: min-max(24, 32);
  }

  .social-icons {
    margin-top: min-max(8, 24);
  }

  @include mq-max-768 {
    .grid,
    .pages {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
    }
  }
}

.social-icons {
  display: flex;
  align-items: center;
  gap: min-max(10, 16);

  .icon {
    position: relative;
    aspect-ratio: 1;
    width: min-max(32, 40);
    background: rgba(255, 255, 255, 0.12);
    border-radius: min-max(8, 12);

    .mask {
      position: absolute;
      inset: 0;
      background: currentColor;
      mask-size: min-max(16, 20);
      mask-position: center;
      mask-repeat: no-repeat;
    }

    @include on-hover {
      color: var(--color-accent);
    }
  }
}

ul.pages {
  li:not(.order) {
    a {
      &[aria-current] {
        color: var(--color-accent);
        pointer-events: none;
      }
    }

    &.current-menu-item {
      a {
        color: var(--color-accent) !important;
        pointer-events: none;
      }
    }
  }
}
