@use "utils" as *;

.header {
  --bg: transparent;
  background: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color var(--transition),
    transform 1s ease;
  transform: translateY(-100%);

  .loaded & {
    transform: translateY(0);
  }

  &.blurred {
    --bg: var(--color-white);

    &[data-theme] {
      --bg: var(--color-main);
    }
  }

  .container {
    align-items: center;
    min-height: min-max(60, 100);
    flex-direction: row;
    justify-content: space-between;
  }

  .main-logo {
    width: min-max(70, 120);
  }

  .pages {
    display: flex;
    align-items: center;
    gap: min-max(16, 24);
    min-width: 75%;
    justify-content: flex-start;
    position: relative;
    font-size: min-max(14, 18);
    list-style-type: none;

    li {
      list-style: none;

      &:not(.order) {
        a {
          @include on-hover {
            color: var(--color-accent);
          }
        }
      }
    }

    .order {
      position: absolute;
      right: 0;
      transition: var(--transition);
      padding: 0;

      a {
        padding: min-max(12, 16) min-max(16, 32);
      }
    }
  }

  .mobile-toggle {
    display: none;
  }

  @include mq-max-1080 {
    .pages {
      display: none;
    }

    .mobile-toggle {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 30px;
      aspect-ratio: 1;
      align-items: center;
      justify-content: center;
      span {
        border-radius: 10px;
        display: block;
        width: 20px;
        height: 2px;
        background: var(--site-color);
        transition: background-color var(--transition);
      }
    }
  }
}
