@use "utils" as *;

.services {
  // background: rgba(242, 246, 250, 0.56);

  .grid {
    --cols: 3;
  }

  .card-service {
    text-align: left;
    align-items: flex-start;
  }

  @include mq-max-768 {
    .grid {
      --cols: 1;
    }
  }
}
