@use "utils" as *;

.documents {
  .container {
    max-width: min-max(1000, 1400);
  }
  .notice {
    display: flex;
    align-items: flex-start;
    gap: min-max(8, 12);
    border-left: min-max(2, 4) solid var(--color-accent);
    border-radius: 0 var(--radius-md) var(--radius-md) 0;
    background: rgba(216, 169, 61, 0.12);
    padding: min-max(16, 32) min-max(16, 24);
    font-size: min-max(12, 14);

    .icon {
      color: var(--color-accent);
      width: min-max(20, 24);
      aspect-ratio: 1;
      flex: none;
      display: flex;
    }

    .content {
      color: var(--color-muted-foreground);
      line-height: 170%;

      strong,
      a,
      b {
        color: var(--color-main);
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: min-max(24, 32);
  }

  .doc {
    display: flex;
    align-items: center;
    gap: min-max(16, 24);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    background: #ffffff;
    padding: min-max(16, 32) min-max(16, 24);
    box-shadow: var(--shadow-sm);

    .content {
      flex: 1;
    }

    .type {
      font-size: min-max(12, 16);
      font-weight: 500;
      padding: min-max(6, 12);
      aspect-ratio: 1;
      flex: none;
      background: rgba(28, 67, 107, 0.06);
      border-radius: var(--radius-sm);
      color: var(--color-muted-foreground);
    }

    .top {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: min-max(12, 20);
    }

    .title {
      font-size: min-max(18, 22);
    }

    .category {
      border-radius: var(--radius-xs);
      background: var(--color-border);
      padding: min-max(2, 4) min-max(4, 8);
      // color: var(--color-muted-foreground);
      font-weight: 600;
      font-size: min-max(10, 12);
      font-family: var(--font-mont);
      line-height: 100%;
    }

    .description {
      color: var(--color-muted-foreground);
      margin-top: 0.75em;
    }

    .download {
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-download' aria-hidden='true'%3E%3Cpath d='M12 15V3'%3E%3C/path%3E%3Cpath d='M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4'%3E%3C/path%3E%3Cpath d='m7 10 5 5 5-5'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
      width: min-max(24, 28);
      aspect-ratio: 1;
      flex: none;
      background: var(--color-main);
      transition: var(--transition);
    }

    @include on-hover {
      background: rgba(242, 246, 250, 0.7);
      border-color: rgba(28, 67, 107, 0.35);

      .download {
        background: var(--color-accent);
      }
    }

    @include mq-max-768 {
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .content {
        width: 100%;
        order: -1;
        flex: none;
      }
    }
  }
}
