@use "utils" as *;

.intro {
  overflow: hidden;
  background: var(--color-main);
  min-height: 100vh;
  padding: 0;
  align-items: center;
  position: relative;

  .container {
    align-items: center;
    text-align: center;
  }

  .main-logo {
    width: min-max(140, 280);
    margin-bottom: min-max(30, 60);
  }
  .subtitle {
    width: 100%;
    max-width: min-max(500, 600);
    opacity: 0.8;
    margin-top: min-max(16, 32);
  }

  .media {
    position: absolute;
    inset: 0;
    display: flex;

    .overlay {
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, rgba(28, 67, 107, 0.95) 10%, rgba(28, 67, 107, 0.9) 20%, rgba(22, 55, 87, 0.94) 100%);
    }
  }

  .actions {
    display: flex;
    margin-top: min-max(24, 48);
    gap: 14px min-max(24, 32);

    @include mq-max-768 {
      flex-direction: column;
    }
  }
}

.practices {
  background: #ffffff;

  .grid {
    --cols: 3;
  }

  @include mq-max-768 {
    .grid {
      --cols: 1;
    }
  }
}

.advantages {
  background: var(--color-main-gradient);

  .grid {
    --cols: 4;
  }

  .icon {
    width: min-max(36, 40);
    aspect-ratio: 1;
  }

  .title {
    margin-top: min-max(12, 24);
  }

  .text {
    margin-top: min-max(10, 20);
    opacity: 0.8;
  }

  @include mq-max-1080 {
    .grid {
      --cols: 2;
    }
  }

  @include mq-max-768 {
    .grid {
      --cols: 1;
      gap: 32px;
    }
  }
}

.news {
  .grid {
    --cols: 3;
  }

  @include mq-max-768 {
    .grid {
      --cols: 1;
    }
  }
}
