@use "utils" as *;

.posts {
  .grid {
    --cols: 3;
  }

  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    background: #ffffff;
    padding: min-max(8, 24) min-max(16, 32);
    box-shadow: var(--shadow-sm);
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;

    .tag {
      border-radius: var(--radius-sm);
      background: var(--color-secondary);
      padding: min-max(6, 8) min-max(14, 16);
      color: var(--color-main);
      font-size: min-max(12, 14);
      font-family: var(--font-mont);
      font-weight: 500;

      @include on-hover {
        background: rgba(28, 67, 107, 0.12);
      }

      &.active {
        color: #ffffff;
        background: var(--color-main);
        font-weight: 600;
      }
    }
  }

  .search {
    position: relative;
    flex: none;

    &-icon {
      position: absolute;
      left: 0.8rem;
      top: 50%;
      background: var(--color-muted-foreground);
      transform: translateY(-50%);
      width: min-max(18, 20);
      aspect-ratio: 1;
      mask: url("../img/search.svg") no-repeat center/cover;
    }

    &-input {
      border-radius: var(--radius-md);
      border: 2px solid transparent;
      background: var(--color-secondary);
      padding: min-max(12, 16) min-max(36, 40);
      font-size: 16px;
      transition: var(--transition);
      outline: none;
      color: var(--color-main);

      &::placeholder {
        color: var(--color-muted-foreground);
      }

      &:focus-visible {
        border-color: var(--color-border);
        background: #ffffff;
      }
    }

    @include mq-max-768 {
      width: 100%;
      &-input {
        width: 100%;
      }
    }
  }

  @include mq-max-768 {
    .grid {
      --cols: 1;
    }

    .filters {
      flex-direction: column;
      padding: 16px;
      gap: 24px;
    }
  }
}
